<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.infrastructure.persistent.dao.IStrategyAwardDao">

    <resultMap id="dataMap" type="org.example.infrastructure.persistent.po.Award">
        <id column="id" property="id"/>
        <result column="award_id" property="awardId"/>
        <result column="award_key" property="awardKey"/>
        <result column="award_config" property="awardConfig"/>
        <result column="award_desc" property="awardDesc"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="queryAwardList" resultMap="dataMap">

        select award.award_id,
               award.award_desc,
               award.award_key,
               award.award_config,
               award.create_time,
               award.update_time
        from award

        limit 10
    </select>

    <select id="queryStrategyAwardList" resultMap="dataMap">
        select strategy.strategy_id,
               award.award_id,
               award.award_desc,
               strategy_award.award_count,
               strategy_award.award_count_surplus,
               strategy_award.award_rate
        from strategy_award
        where strategy_id = #{strategyId}
    </select>

</mapper>
